
<!DOCTYPE html>

<html>

 

<head>

    <title>About</title>

    <link rel="icon" href="./img/download.png">

    <link rel="stylesheet" type="text/css" href="./css/styles.css">

</head>

 

<body>

    <div class="main-content">

        {{>header}}

        <p>This site was created by Dipanwita Manna. It uses data from <a href="https://account.mapbox.com">mapbox.com</a> and <a href="https://darksky.net">darksky.net</a></p>
 

        <img class="portrait" src="./img/img.jpg">

    </div>

    {{>footer}}

</body>

 

</html>

