
<!DOCTYPE html>

<html>

 

<head>

    <title>Help</title>

    <link rel="icon" href="./img/download.png">

    <link rel="stylesheet" type="text/css" href="./css/styles.css">

</head>

 

<body>

   <div class="main-content">

        {{>header}}

 

        <h2>{{message}}</h2>

    </div>

    {{>footer}}

</body>

 

</html>